<a href="https://colab.research.google.com/github/Almee98/COVID-19-Positivity-Rate-Prediction/blob/main/Feature_Engineering_for_DS_Competition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
mask_use = pd.read_csv("mask-use-by-county.csv")
weather1 = pd.read_csv("3419474.csv")
weather2 = pd.read_csv("3419480.csv")

<ipython-input-3-ba36489c895f>:3: DtypeWarning: Columns (15,19,21,25,29) have mixed types. Specify dtype option on import or set low_memory=False.
  weather2 = pd.read_csv("3419480.csv")

In [ ]:
weather1.head()

,STATION,NAME,DATE,TAVG,WT01,WT02,WT03,WT04,WT05,WT06,WT07,WT08,WT09,WT10,WT11
0,US1MAHS0008,"WILLIAMSBURG 1.2 WSW, MA US",2020-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US1MAHS0008,"WILLIAMSBURG 1.2 WSW, MA US",2020-09-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US1MAHS0008,"WILLIAMSBURG 1.2 WSW, MA US",2020-09-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US1MAHS0008,"WILLIAMSBURG 1.2 WSW, MA US",2020-09-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US1MAHS0008,"WILLIAMSBURG 1.2 WSW, MA US",2020-09-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
weather2.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,TAVG,TAVG_ATTRIBUTES,WT01,WT01_ATTRIBUTES,...,WT07,WT07_ATTRIBUTES,WT08,WT08_ATTRIBUTES,WT09,WT09_ATTRIBUTES,WT10,WT10_ATTRIBUTES,WT11,WT11_ATTRIBUTES
0,USW00004804,"COLUMBUS OHIO STATE UNIVERSITY AIRPORT, OH US",40.078406,-83.078332,275.0,2020-09-01,NaN,NaN,1.0,",,W",...,NaN,NaN,1.0,",,W",NaN,NaN,NaN,NaN,NaN,NaN
1,USW00004804,"COLUMBUS OHIO STATE UNIVERSITY AIRPORT, OH US",40.078406,-83.078332,275.0,2020-09-02,NaN,NaN,1.0,",,W",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00004804,"COLUMBUS OHIO STATE UNIVERSITY AIRPORT, OH US",40.078406,-83.078332,275.0,2020-09-03,NaN,NaN,1.0,",,W",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00004804,"COLUMBUS OHIO STATE UNIVERSITY AIRPORT, OH US",40.078406,-83.078332,275.0,2020-09-04,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00004804,"COLUMBUS OHIO STATE UNIVERSITY AIRPORT, OH US",40.078406,-83.078332,275.0,2020-09-05,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
weather1.describe()

,TAVG,WT01,WT02,WT03,WT04,WT05,WT06,WT07,WT08,WT09,WT10,WT11
count,7615.000000,2815.0,500.0,487.0,24.0,15.0,32.0,0.0,1296.0,5.0,1.0,65.0
mean,60.558766,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0
std,15.924597,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.0
min,3.000000,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0
25%,51.000000,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0
50%,63.000000,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0
75%,73.000000,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0
max,103.000000,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0

In [ ]:
weather1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109035 entries, 0 to 109034
Data columns (total 15 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   STATION  109035 non-null  object
 1   NAME     109035 non-null  object
 2   DATE     109035 non-null  object
 3   TAVG     7615 non-null    float64
 4   WT01     2815 non-null    float64
 5   WT02     500 non-null     float64
 6   WT03     487 non-null     float64
 7   WT04     24 non-null      float64
 8   WT05     15 non-null      float64
 9   WT06     32 non-null      float64
 10  WT07     0 non-null       float64
 11  WT08     1296 non-null    float64
 12  WT09     5 non-null       float64
 13  WT10     1 non-null       float64
 14  WT11     65 non-null      float64
dtypes: float64(12), object(3)
memory usage: 12.5+ MB

In [ ]:
weather2.describe()

,LATITUDE,LONGITUDE,ELEVATION,TAVG,WT01,WT02,WT03,WT04,WT05,WT06,WT07,WT08,WT09,WT10,WT10_ATTRIBUTES,WT11
count,71427.000000,71427.000000,71160.000000,2518.000000,1890.0,244.0,195.0,14.0,14.0,6.0,2.0,367.0,2.0,0.0,0.0,20.0
mean,37.824770,-83.660519,209.973724,58.168388,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0
std,4.602057,10.008105,178.518756,13.856300,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
min,29.537100,-117.669921,0.900000,15.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0
25%,35.250391,-95.196038,91.700000,49.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0
50%,37.248630,-79.802429,178.000000,59.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0
75%,41.382139,-76.251939,291.100000,69.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0
max,48.036598,-71.350964,1432.600000,91.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0

In [ ]:
weather2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71427 entries, 0 to 71426
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATION          71427 non-null  object
 1   NAME             71427 non-null  object
 2   LATITUDE         71427 non-null  float64
 3   LONGITUDE        71427 non-null  float64
 4   ELEVATION        71160 non-null  float64
 5   DATE             71427 non-null  object
 6   TAVG             2518 non-null   float64
 7   TAVG_ATTRIBUTES  2518 non-null   object
 8   WT01             1890 non-null   float64
 9   WT01_ATTRIBUTES  1890 non-null   object
 10  WT02             244 non-null    float64
 11  WT02_ATTRIBUTES  244 non-null    object
 12  WT03             195 non-null    float64
 13  WT03_ATTRIBUTES  195 non-null    object
 14  WT04             14 non-null     float64
 15  WT04_ATTRIBUTES  14 non-null     object
 16  WT05             14 non-null     float64
 17  WT05_ATTRIBUTES  14 non-null     object
 18  WT06             6 non-null      float64
 19  WT06_ATTRIBUTES  6 non-null      object
 20  WT07             2 non-null      float64
 21  WT07_ATTRIBUTES  2 non-null      object
 22  WT08             367 non-null    float64
 23  WT08_ATTRIBUTES  367 non-null    object
 24  WT09             2 non-null      float64
 25  WT09_ATTRIBUTES  2 non-null      object
 26  WT10             0 non-null      float64
 27  WT10_ATTRIBUTES  0 non-null      float64
 28  WT11             20 non-null     float64
 29  WT11_ATTRIBUTES  20 non-null     object
dtypes: float64(16), object(14)
memory usage: 16.3+ MB

In [ ]:
weather2 = weather2.drop(['WT01_ATTRIBUTES', 'WT02_ATTRIBUTES','WT03_ATTRIBUTES','WT04_ATTRIBUTES','WT05_ATTRIBUTES','WT06_ATTRIBUTES','WT07_ATTRIBUTES','WT08_ATTRIBUTES','WT09_ATTRIBUTES','WT10_ATTRIBUTES','WT11_ATTRIBUTES'], axis = 1)

In [ ]:
weather2.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,TAVG,TAVG_ATTRIBUTES,WT01,WT02,WT03,WT04,WT05,WT06,WT07,WT08,WT09,WT10,WT11
0,USW00004804,"COLUMBUS OHIO STATE UNIVERSITY AIRPORT, OH US",40.078406,-83.078332,275.0,2020-09-01,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1,USW00004804,"COLUMBUS OHIO STATE UNIVERSITY AIRPORT, OH US",40.078406,-83.078332,275.0,2020-09-02,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00004804,"COLUMBUS OHIO STATE UNIVERSITY AIRPORT, OH US",40.078406,-83.078332,275.0,2020-09-03,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00004804,"COLUMBUS OHIO STATE UNIVERSITY AIRPORT, OH US",40.078406,-83.078332,275.0,2020-09-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00004804,"COLUMBUS OHIO STATE UNIVERSITY AIRPORT, OH US",40.078406,-83.078332,275.0,2020-09-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
frames = [weather1, weather2]
weather = pd.concat(frames)

In [ ]:
weather.tail()

,STATION,NAME,DATE,TAVG,WT01,WT02,WT03,WT04,WT05,WT06,WT07,WT08,WT09,WT10,WT11,LATITUDE,LONGITUDE,ELEVATION,TAVG_ATTRIBUTES
71422,USC00308600,"TROY LOCK AND DAM, NY US",2020-11-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.7511,-73.6851,4.6,NaN
71423,USC00308600,"TROY LOCK AND DAM, NY US",2020-11-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.7511,-73.6851,4.6,NaN
71424,USC00308600,"TROY LOCK AND DAM, NY US",2020-11-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.7511,-73.6851,4.6,NaN
71425,USC00308600,"TROY LOCK AND DAM, NY US",2020-11-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.7511,-73.6851,4.6,NaN
71426,USC00308600,"TROY LOCK AND DAM, NY US",2020-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.7511,-73.6851,4.6,NaN

In [ ]:
weather.head()

,STATION,NAME,DATE,TAVG,WT01,WT02,WT03,WT04,WT05,WT06,WT07,WT08,WT09,WT10,WT11,LATITUDE,LONGITUDE,ELEVATION,TAVG_ATTRIBUTES
0,US1MAHS0008,"WILLIAMSBURG 1.2 WSW, MA US",2020-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US1MAHS0008,"WILLIAMSBURG 1.2 WSW, MA US",2020-09-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US1MAHS0008,"WILLIAMSBURG 1.2 WSW, MA US",2020-09-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US1MAHS0008,"WILLIAMSBURG 1.2 WSW, MA US",2020-09-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US1MAHS0008,"WILLIAMSBURG 1.2 WSW, MA US",2020-09-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
fips = pd.read_csv('fips2county.csv')

In [ ]:
fips.head()

,StateFIPS,CountyFIPS_3,CountyName,StateName,CountyFIPS,StateAbbr,STATE_COUNTY
0,1,1,Autauga,Alabama,1001,AL,AL | AUTAUGA
1,1,3,Baldwin,Alabama,1003,AL,AL | BALDWIN
2,1,5,Barbour,Alabama,1005,AL,AL | BARBOUR
3,1,7,Bibb,Alabama,1007,AL,AL | BIBB
4,1,9,Blount,Alabama,1009,AL,AL | BLOUNT

In [ ]:
# Merge datasets based on the 'state' column
merged_df = weather.merge(fips, left_on=weather['NAME'].str[-5:-3], right_on='StateAbbr', how='inner')

In [ ]:
merged_df.head()

,STATION,NAME,DATE,TAVG,WT01,WT02,WT03,WT04,WT05,WT06,...,LONGITUDE,ELEVATION,TAVG_ATTRIBUTES,StateFIPS,CountyFIPS_3,CountyName,StateName,CountyFIPS,StateAbbr,STATE_COUNTY
0,US1MAHS0008,"WILLIAMSBURG 1.2 WSW, MA US",2020-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,25,1,Barnstable,Massachusetts,25001,MA,MA | BARNSTABLE
1,US1MAHS0008,"WILLIAMSBURG 1.2 WSW, MA US",2020-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,25,3,Berkshire,Massachusetts,25003,MA,MA | BERKSHIRE
2,US1MAHS0008,"WILLIAMSBURG 1.2 WSW, MA US",2020-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,25,5,Bristol,Massachusetts,25005,MA,MA | BRISTOL
3,US1MAHS0008,"WILLIAMSBURG 1.2 WSW, MA US",2020-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,25,7,Dukes,Massachusetts,25007,MA,MA | DUKES
4,US1MAHS0008,"WILLIAMSBURG 1.2 WSW, MA US",2020-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,25,9,Essex,Massachusetts,25009,MA,MA | ESSEX

In [ ]:
mask_use.head()

   COUNTYFP  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
0      1001  0.053   0.074      0.134       0.295   0.444
1      1003  0.083   0.059      0.098       0.323   0.436
2      1005  0.067   0.121      0.120       0.201   0.491
3      1007  0.020   0.034      0.096       0.278   0.572
4      1009  0.053   0.114      0.180       0.194   0.459

In [ ]:
new_weather = merged_df.drop(['STATION', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'TAVG_ATTRIBUTES', 'StateFIPS', 'CountyFIPS_3', 'STATE_COUNTY'], axis = 1)

In [ ]:
new_weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14735037 entries, 0 to 14735036
Data columns (total 18 columns):
 #   Column      Dtype
---  ------      -----
 0   NAME        object
 1   DATE        object
 2   TAVG        float64
 3   WT01        float64
 4   WT02        float64
 5   WT03        float64
 6   WT04        float64
 7   WT05        float64
 8   WT06        float64
 9   WT07        float64
 10  WT08        float64
 11  WT09        float64
 12  WT10        float64
 13  WT11        float64
 14  CountyName  object
 15  StateName   object
 16  CountyFIPS  int64
 17  StateAbbr   object
dtypes: float64(12), int64(1), object(5)
memory usage: 2.1+ GB

In [ ]:
# # Select the column we want to fill
# column_to_fill = 'TAVG'

# # Calculate the mean of the selected column
# column_mean = new_weather[column_to_fill].median()

# # Fill NaN values in the selected column with its mean
# new_weather[column_to_fill] = new_weather[column_to_fill].fillna(column_mean)

In [ ]:
# # Select the column we want to fill
# column_to_fill = 'WT01'

# # Calculate the mean of the selected column
# column_mean = new_weather[column_to_fill].median()

# # Fill NaN values in the selected column with its mean
# new_weather[column_to_fill] = new_weather[column_to_fill].fillna(column_mean)

In [ ]:
# # Select the column we want to fill
# column_to_fill = 'WT02'

# # Calculate the mean of the selected column
# column_mean = new_weather[column_to_fill].median()

# # Fill NaN values in the selected column with its mean
# new_weather[column_to_fill] = new_weather[column_to_fill].fillna(column_mean)

In [ ]:
# # Select the column we want to fill
# column_to_fill = 'WT03'

# # Calculate the mean of the selected column
# column_mean = new_weather[column_to_fill].median()

# # Fill NaN values in the selected column with its mean
# new_weather[column_to_fill] = new_weather[column_to_fill].fillna(column_mean)

In [ ]:
# # Select the column we want to fill
# column_to_fill = 'WT04'

# # Calculate the mean of the selected column
# column_mean = new_weather[column_to_fill].median()

# # Fill NaN values in the selected column with its mean
# new_weather[column_to_fill] = new_weather[column_to_fill].fillna(column_mean)

In [ ]:
# # Select the column we want to fill
# column_to_fill = 'WT05'

# # Calculate the mean of the selected column
# column_mean = new_weather[column_to_fill].median()

# # Fill NaN values in the selected column with its mean
# new_weather[column_to_fill] = new_weather[column_to_fill].fillna(column_mean)

In [ ]:
# # Select the column we want to fill
# column_to_fill = 'WT06'

# # Calculate the mean of the selected column
# column_mean = new_weather[column_to_fill].median()

# # Fill NaN values in the selected column with its mean
# new_weather[column_to_fill] = new_weather[column_to_fill].fillna(column_mean)

In [ ]:
# # Select the column we want to fill
# column_to_fill = 'WT07'

# # Calculate the mean of the selected column
# column_mean = new_weather[column_to_fill].median()

# # Fill NaN values in the selected column with its mean
# new_weather[column_to_fill] = new_weather[column_to_fill].fillna(column_mean)

In [ ]:
# # Select the column we want to fill
# column_to_fill = 'WT08'

# # Calculate the mean of the selected column
# column_mean = new_weather[column_to_fill].median()

# # Fill NaN values in the selected column with its mean
# new_weather[column_to_fill] = new_weather[column_to_fill].fillna(column_mean)

In [ ]:
# # Select the column we want to fill
# column_to_fill = 'WT09'

# # Calculate the mean of the selected column
# column_mean = new_weather[column_to_fill].median()

# # Fill NaN values in the selected column with its mean
# new_weather[column_to_fill] = new_weather[column_to_fill].fillna(column_mean)

In [ ]:
# # Select the column we want to fill
# column_to_fill = 'WT10'

# # Calculate the mean of the selected column
# column_mean = new_weather[column_to_fill].median()

# # Fill NaN values in the selected column with its mean
# new_weather[column_to_fill] = new_weather[column_to_fill].fillna(column_mean)

In [ ]:
# # Select the column we want to fill
# column_to_fill = 'WT11'

# # Calculate the mean of the selected column
# column_mean = new_weather[column_to_fill].median()

# # Fill NaN values in the selected column with its mean
# new_weather[column_to_fill] = new_weather[column_to_fill].fillna(column_mean)

In [ ]:
new_weather.sample()

,NAME,DATE,TAVG,WT01,WT02,WT03,WT04,WT05,WT06,WT07,WT08,WT09,WT10,WT11,CountyName,StateName,CountyFIPS,StateAbbr
5858677,"TALLAHASSEE 1.3 SW, FL US",2020-10-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baker,Florida,12003,FL

In [ ]:
# drop the rows where TAVG and WT01...WT11 are all NaN

new_weather = new_weather.dropna(subset=['TAVG', 'WT01', 'WT02', 'WT03', 'WT04', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09', 'WT10', 'WT11'], how='all')

In [ ]:
new_weather.head()

,NAME,DATE,TAVG,WT01,WT02,WT03,WT04,WT05,WT06,WT07,WT08,WT09,WT10,WT11,CountyName,StateName,CountyFIPS,StateAbbr
4858,"WORCESTER REGIONAL AIRPORT, MA US",2020-09-01,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Barnstable,Massachusetts,25001,MA
4859,"WORCESTER REGIONAL AIRPORT, MA US",2020-09-01,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Berkshire,Massachusetts,25003,MA
4860,"WORCESTER REGIONAL AIRPORT, MA US",2020-09-01,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bristol,Massachusetts,25005,MA
4861,"WORCESTER REGIONAL AIRPORT, MA US",2020-09-01,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dukes,Massachusetts,25007,MA
4862,"WORCESTER REGIONAL AIRPORT, MA US",2020-09-01,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Essex,Massachusetts,25009,MA

In [ ]:
# convert the new dataframe to a downloadable file
new_weather.to_csv('weather_output.csv', index=False)